{%load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width ,initial-scale=1">
    <title>Completewebsite design</title>
    <!--link rel="stylesheet" href="style.css"-->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

<!--use this js script for smooth scrolling effect -->
<script src="https://cdn.jsdelivr.net/gh/cferdinandi/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>
</head>

  <body>


<!--about -->
<section id="about">
    <div class="about-left-col">
      <img src ="static/images/about.png">
    </div>
    <div class="about-right-col">
      <div class="about-text">
          <h1>About us</h1>
          <span class="square"></span>
            <p>
            le tx and rx circuits  use 8 bit transmission reception  cntrl bits
            (BAUD_PRESCALE 8) load upper 8 bits of baud rate value into  the high byte register.
            of the UBRR register D_PRESCALE load lower 8 bits of the baud  rate value interrupt
            RXCIE); //enable the usart recieve interrupt
             }  </p><br><br>
           <span class="line_1"></span><br>
           <span class="line_2"></span><br>
           <span class="line_3"></span>
           
           <h2>
             "learning is not attained by chance ,it must be sought for with ardor and attended to with diligence"
           </h2>  
           <h3>
             --Abigail Adams
           </h3>

      
            <button class="common_btn" ,id = "homeBtn">BackHome</button>
         
            <script>          
            var homeBtn1 = document.getElementById("homeBtn");
   
             homeBtn1.onclick=function()
             {
               
              <b>This text is bold</b> 
             }
            </script>
           

    </body>
   </html>